
</div>
<!-- Footer -->
<footer class="page-footer pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      

     
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">

        <!-- Links -->
        <h5 class="text">Navigation Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/" class="colordefined">Home</a>
          </li>
          <li>
            <a href="/about" class="colordefined">About Me</a>
          </li>
          <li>
            <a href="/contact" class="colordefined">Contact Me</a>
          </li>
          <li>
            <a href="/projects" class="colordefined">Projects</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">

        <!-- Links -->
        <h5 class="text">Social Media Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="colordefined" target="_blank" rel="noopener noreferrer" href="mailto:sandeepshakya2015@gmail.com">sandeepshakya2015@gmail.com</a>
          </li>
          <li>
            <a class="colordefined" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/webdblogsan/">Facebook Page webdblog</a>
          </li>
          <li>
            <a  class="colordefined" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/webdblog/">Instagram Page webdblog</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
     <center>   
     	<h5 style="color:white">For More Information visit <a href="https://webdblog.online/" class="colordefined">webdblog</a> </h5>
     	</center>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 colordefined">© 2020 Copyright:
    <a style="color: white"> sandeep's blog (basic blog website)</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
