<%- include("partials/header"); -%>
<br>
    <div class="container">
    	<h1>About Me</h1>
    <p> Hey there ! My name is Sandeep Kumar. I am a Full-Stack Web Developer , Web Designer and also a part time Blogger. I love to write the code and solve the problems form the code and My hobbies is just to do the coding and listening the beautiful music. My interest is mostly in developing a thing that helps the people in some way.Just like here in my blog i will share my knowledge with all of you so that it might some help to gain you a knowledge. Although these all thing that are written here you will find it somewhere at the internet but main thing is that you will get all information regarding the topic at one place (here).
<br>
Currently I am pursuing my B.Tech from Faculty of engineering and technology Gurukula Kangri Vishwavidyalaya , Haridwar in Trade of Electronics and Communication Engineering . For More Information about Me go to my Portfolio
This website is all about the blogs. here i will upload the blogs based on the following topic
<br>
<h3>My Skills</h3>
<b>Front-End Web Development</b>
<br>
<ul>
	<li>HTML</li>
	<li>CSS</li>
	<li>Bootstrap</li>
	<li>JavaScript</li>
	<li>Some JavaScript library (React.js)</li>
	<li>J Query</li>
	<li>Web Design ... ManyMore</li>
</ul>
<br>
<b>Back-End Web Development</b>
<br>
<ul>
	<li>Node.js</li>
	<li>Express.js</li>
	<li>Application Programmable Interface (API)</li>
	<li>Database Management through PHP and MySQL</li>
	<li>MongoDB</li>
	<li>Web Hosting …. and many more</li>
</ul>
<br>
From this website you will get most of the information about the Web Development that i know … I spend most of the time on researching how to make learning to code fun and make hard concepts easy to understand. 
<br>
if you want to me write a blog on the particular topic or may be you want to give a project on the based of my skills, feel free to contact me on Instagram or you can send me a Email. </p>
    </div>
<%- include("partials/footer"); -%>
