<%- include("partials/header"); -%>
<br><br>
    <div class="container">
    	<h2>Contact Me</h2>
    	<p><strong>Email-Id</strong> :- sandeepshakya2015@gmail.com</p>
    	<p>Also you can follow me on Instagram and Facebook.visit the GitHub  account for the source code……….</p>
    	<p><strong>Instagram Page</strong> :- <a rel="noreferrer noopener" href="https://www.instagram.com/webdblog/" target="_blank">webdblog</a><br><strong>Facebook Page</strong> :- <a rel="noreferrer noopener" href="https://www.facebook.com/webdblogsan/" target="_blank">webdblog</a><br><strong>GitHub Account</strong> :- <a rel="noreferrer noopener" href="https://github.com/sandeepshakya2019" target="_blank">sandeepshakya2019</a></p>
    	<p id="port">To know more about me go to my<strong><em> Portfolio</em></strong>&nbsp;site :-</p>
    	<ul><li><a href="https://sandeepshakya2019.github.io/Portfolio/" target="_blank" rel="noreferrer noopener">https://sandeepshakya2019.github.io/Portfolio/</a>.</li><li><a href="https://sandeepshakya2019.github.io/myprofile/" target="_blank" rel="noreferrer noopener">https://sandeepshakya2019.github.io/myprofile/</a></li></ul>
    	<h4 class="has-text-align-right">Thank You</h4>

    </div>

<%- include("partials/footer"); -%>
