
<%- include("partials/header"); -%>
    <br><br>
    <h1>No Project uploaded yet to ...</h1>
    <br>
    <h2>To get the project based on the backend technology go to the my website <a href="https://webdblog.online/">webdblog</a> </h2>
    <br><br>
<%- include("partials/footer"); -%>
